body {
	margin: 0px;
	padding: 5px;
	background-color: #001820;
	display: grid;
	grid-template-columns: 100vh auto;
	grid-template-rows: calc(100vh - 10px);
	overflow: hidden;
}

div.cell {
	margin: 0px;
	border: 1px solid transparent;
	border-radius: 3px;
	background-color: #001820;
}
div.incrementor {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	font-family: monospace;
}

button.incrementor {
	font-family: monospace;
	font-size: 50px;
	color: white;
	background-color: transparent;
	border: none;
	outline: none;
}
button.incrementor:hover {
	filter: brightness(75%);
}

h1.input-parameter {
	font-family: monospace;
	font-size: 25px;
	color: white;
	padding: 0px;
	margin: 0px;
	padding-left: 10px;
	padding-right: 10px;
}

.board {
	display: grid;
	border: 1px solid white;
	border-radius: 3px;
}

.sidebar {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 1fr repeat(6, 2fr);
	overflow-y: scroll;
}

.controls {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: white;
	font-family: monospace;
}

.specialControls {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: white;
	font-family: monospace;
}

.colorPicker {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-left: 60px;
}

#html5colorpicker {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	opacity: 0;
	z-index: 2;
	position: absolute;
}

#colorButton {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	background-color: #FFFFFF;
	border: 1px solid transparent;
	z-index: 1;
	position: absolute;
}

#colorTextButton {
	color: white;
	font-family: monospace;
	font-size: 27px;
	font-weight: bold;
	background-color: transparent;
	border: none;
	outline: none;
	padding-left: 10px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#colorTextButton:hover {
	filter: brightness(75%);
}